:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(14, 12, 25);
    color: rgb(231, 231, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.divGeneral {
    background-color: rgb(14, 12, 25);
    display: flex;
    flex-direction: column;

}

/* form*/
.offcanvas-start {
    background-color: rgb(30, 33, 58);
    color: rgb(231, 231, 235);
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.custom-form {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.custom-form input[type="text"],
.custom-form button[type="submit"] {
    padding: 10px;
    margin: 5px;

    border-radius: none;
}

.custom-form button[type="submit"] {
    background-color: rgb(60, 71, 233);
    border: none;
    color: rgb(231, 231, 235);
}

.custom-form input[type="text"] {
    background-color: rgb(30, 33, 58);
    border: 1px solid rgb(231, 231, 235);
}

.imgDato {
    background-color: rgb(30, 33, 58);
    width: 400px;
    height: 37.7em;
    align-items: center;
    padding: 20px;
    color: rgb(231, 231, 235);
    display: flex;
    flex-direction: column;
}

.btn.btn-secondary,
.btn-get-location {
    margin: 10px;
}

/*datos generales*/

/*panelDias*/

.grupoDias {
    margin-left: 10em;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.divDias {
    /* border: 1px solid rgb(30, 33, 58); */
    background-color: rgb(30, 33, 58);
    color: rgb(231, 231, 235);
    width: 7rem;
    height: 9rem;
    display: inline-block;
    margin: 10px;
}

.divDias>p {

    background-color: rgb(30, 33, 58);
    color: rgb(231, 231, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/*panelDatos*/

.grupoDatos {


    align-items: center;
    background-color: rgb(30, 33, 58);
    margin: 10px;
    width: 15em;
    display: flex;
}

.otrosDatos>p,
h2 {

    color: rgb(231, 231, 235);
    width: 15rem;
    /* flex-wrap: wrap; */
    padding: 10px;
    margin: 10px;

}

/*botones */
.grupoBtn {
    justify-content: flex-end;
}

.btngrados {
    border-radius: 50px;

}

#btnGris {
    background-color: rgb(88, 86, 118);

}