:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.divGeneral{
    background-color: rgb(14, 12, 25);
    display: flex;

}

/* form*/
.offcanvas-start{
    background-color: rgb(30, 33, 58);
}

.imgDato {
    background-color: rgb(30, 33, 58);
    width: 400px;
    height: 37.7em;
    justify-content: center;
    padding: 20px;
    color: rgb(231, 231, 235);
}
/*datos generales*/

/*panelDias*/

.grupoDias{
    margin-left: 10em;
}

.divDias{
    /* border: 1px solid rgb(30, 33, 58); */
    background-color: rgb(30, 33, 58);
    color: rgb(231, 231, 235);
    width: 7rem;
    height: 9rem;
    display: inline-block;
    margin: 10px;
}

.divDias > p{
    justify-content: center;
    padding:1em;
}
/*panelDatos*/

.grupoDatos {
    
    
    align-items: center;
    background-color: rgb(30, 33, 58);
    margin: 10px;
    width: 15em;
    display: flex;
   
   
}

.otrosDatos > p, h2 {
    
    color: rgb(231, 231, 235);
    width: 15rem;
    /* flex-wrap: wrap; */
    padding: 10px;
    margin: 10px;

}

/*botones */
.grupoBtn{
    justify-content: flex-end;
}
.btngrados{
    border-radius: 50px;
    
}
#btnGris{
    background-color: rgb(88, 86, 118);
    
}

