:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.divGeneral{
    background-color: rgb(14, 12, 25);
    display: flex;

}

/* form*/
.form ::div{
    background-color: rgb(30, 33, 58);
}

.imgDato {
    background-color: rgb(30, 33, 58);
    width: 400px;
    height: 37.7em;
    justify-content: center;
    padding: 20px;
    color: rgb(231, 231, 235);
}
/*datos generales*/

/*panelDias*/

.grupoDias{
    margin-left: 10px;
}

.divDias{
    /* border: 1px solid rgb(30, 33, 58); */
    background-color: rgb(30, 33, 58);
    color: rgb(231, 231, 235);
    width: 6rem;
    height: 7rem;
    display: inline-block;
}

.divDias > p{
    
    padding:0.5em;
}
/*panelDatos*/

.grupoDatos {
    
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 33, 58);
    margin: 0 10px;
   
   
}

.otrosDatos > p, h2 {
    display: flex;
    color: rgb(231, 231, 235);
    width: 15rem;
    flex-wrap: wrap;
    padding: 10px;

}

